In [22]:
#here we just created a system to go over our csv files we have saved with partial data files
#our main goal in this program here is to merge all the data to one big data
#we use pandas, use some manipulations on strings so we could work faster
#eventually we create here a list of dataframes and after this cell we will concat them easily by rows [axis=0]
#then we will print the bigData and we will see if anything needs to be done, if any thing will not be helpful we will remove it.

import pandas as pd
file_name_part_one  = 'this_df_'
file_name_part_three = '.csv'
dataframes = list()
for digit in range(12):
    file_name = file_name_part_one + str(digit) + file_name_part_three
    dataframes.append(load_dataFrame(file_name))

In [20]:
def load_dataFrame(name):
    return pd.read_csv(name)

In [25]:
big_Dataframe = pd.concat(dataframes, axis=0)#concat all the dataframes we had to one big dataframe by rows [axis=0]

In [26]:
big_Dataframe #now all we need to do is just to remove the unneccessery column from the left we had by mistake.

,Unnamed: 0,team_1,team_2,team_1_rating,team_2_rating,capacity,stadium,month,derby,current_season,year,city,temprature,precipitation,attendance
0,0,Arsenal,Bolton Wanderers,5.0,20.0,38419.0,Highbury,may,0.0,1995/96,1995,London,14.0,52.1,38104.0
1,1,Chelsea,Blackburn Rovers,11.0,7.0,40834.0,Stamford Bridge,may,0.0,1995/96,1995,London,14.0,52.1,28436.0
2,2,Coventry City,Leeds United,16.0,13.0,23489.0,Highfield Road,may,0.0,1995/96,1995,Coventry,12.0,23.3,22769.0
3,3,Everton,Aston Villa,6.0,4.0,39414.0,Goodison Park,may,0.0,1995/96,1995,Liverpool,12.0,53.6,40127.0
4,4,Manchester City,Liverpool,18.0,3.0,35150.0,Maine Road,may,0.0,1995/96,1995,Manchester,12.0,21.2,31436.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,Everton,Stoke City,7.0,16.0,39414.0,Goodison Park,aug,0.0,2017/18,2017,Liverpool,16.0,66.6,39045.0
376,376,Southampton,Swansea City,11.0,12.0,32384.0,St. Mary's Stadium,aug,0.0,2017/18,2017,Southampton,17.0,10.9,31447.0
377,377,West Bromwich Albion,AFC Bournemouth,8.0,15.0,26445.0,The Hawthorns,aug,0.0,2017/18,2017,West Bromwich,16.0,27.0,25011.0
378,378,Brighton and Hove Albion,Manchester City,17.0,3.0,30666.0,Amex Stadium,aug,0.0,2017/18,2017,Falmer,17.0,24.0,30415.0
379,379,Arsenal,Leicester City,5.0,13.0,60704.0,Emirates Stadium,aug,0.0,2017/18,2017,London,18.0,57.5,59387.0

In [27]:
#big_Dataframe.drop(big_Dataframe.columns[0], axis=1, inplace=True)#removing the bug column we did not need

In [28]:
big_Dataframe

,team_1,team_2,team_1_rating,team_2_rating,capacity,stadium,month,derby,current_season,year,city,temprature,precipitation,attendance
0,Arsenal,Bolton Wanderers,5.0,20.0,38419.0,Highbury,may,0.0,1995/96,1995,London,14.0,52.1,38104.0
1,Chelsea,Blackburn Rovers,11.0,7.0,40834.0,Stamford Bridge,may,0.0,1995/96,1995,London,14.0,52.1,28436.0
2,Coventry City,Leeds United,16.0,13.0,23489.0,Highfield Road,may,0.0,1995/96,1995,Coventry,12.0,23.3,22769.0
3,Everton,Aston Villa,6.0,4.0,39414.0,Goodison Park,may,0.0,1995/96,1995,Liverpool,12.0,53.6,40127.0
4,Manchester City,Liverpool,18.0,3.0,35150.0,Maine Road,may,0.0,1995/96,1995,Manchester,12.0,21.2,31436.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Everton,Stoke City,7.0,16.0,39414.0,Goodison Park,aug,0.0,2017/18,2017,Liverpool,16.0,66.6,39045.0
376,Southampton,Swansea City,11.0,12.0,32384.0,St. Mary's Stadium,aug,0.0,2017/18,2017,Southampton,17.0,10.9,31447.0
377,West Bromwich Albion,AFC Bournemouth,8.0,15.0,26445.0,The Hawthorns,aug,0.0,2017/18,2017,West Bromwich,16.0,27.0,25011.0
378,Brighton and Hove Albion,Manchester City,17.0,3.0,30666.0,Amex Stadium,aug,0.0,2017/18,2017,Falmer,17.0,24.0,30415.0
379,Arsenal,Leicester City,5.0,13.0,60704.0,Emirates Stadium,aug,0.0,2017/18,2017,London,18.0,57.5,59387.0

In [29]:
big_Dataframe.to_csv('BigData.csv')