In [1]:
#This machine learning code algorithm is taking all the data doesnt matter which team and predicts the 0.2 of the data
#uses more data, prediction goes better here
#we used two linear regression models:
#one using the relation between years to attendance, only one variable
#second using the relation between multiple parameters to attendacnce
#parameters on second model are: year, capacity, city, team_1_rating, team_2_rating,..
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics
%matplotlib inline

In [2]:
import sklearn
from sklearn import linear_model

In [3]:
df = pd.read_csv('data_ready_for_ML_1.csv')

In [4]:
def give_me_this_team_plot(this_data):
    this_data.plot(x='year', y='attendance', style='o')  
    plt.title('year vs attendance')
    plt.xlabel('year')  
    plt.ylabel('attendance')  
    plt.show()

In [5]:
def give_me_this_team_histogram(this_data):
    plt.figure(figsize=(15,10))
    plt.tight_layout()
    seabornInstance.distplot(this_data['attendance'])

In [6]:
def predict_using_lr_one_var(current_data_frame):
    
    X = current_data_frame['year'].values.reshape(-1,1)
    y = current_data_frame['attendance'].values.reshape(-1,1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
    regressor = linear_model.LinearRegression()
    regressor.fit(X_train, y_train) #training the algorithm
    #To retrieve the intercept:
    print(regressor.intercept_)

    #For retrieving the slope:
    print(regressor.coef_)
    
    y_pred = regressor.predict(X_test)

    prediction_dataframe = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
    draw_scatter_plot_equality(X_test, y_test, y_pred)
    return prediction_dataframe

In [7]:
def predict_using_lr_two_var(current_data_frame):
    X = current_data_frame[["team_1_rating","team_2_rating", "month", "derby", "city", "year", "temprature", "precipitation" , "capacity"]]
    y = current_data_frame['attendance']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

    regressor = linear_model.LinearRegression()
    regressor.fit(X_train, y_train) #training the algorithm
    #To retrieve the intercept:
    print(regressor.intercept_)

    #For retrieving the slope:
    print(regressor.coef_)
    
    y_pred = regressor.predict(X_test)

    prediction_dataframe = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
    return prediction_dataframe

In [8]:
def draw_bar_equality(this_data):
    this_data_1 = this_data.head(25)
    this_data_1.plot(kind='bar',figsize=(16,10))
    plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
    plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
    plt.show()

In [9]:
def draw_scatter_plot_equality(X_test, y_test, y_pred):
    plt.scatter(X_test, y_test,  color='gray')
    plt.plot(X_test, y_pred, color='red', linewidth=2)
    plt.show()

In [10]:
option = int(input("Insert 1 for one variable linear regression / 2 for multiply variables linear regressions: "))
if(option == 1):
    this_df=predict_using_lr_one_var(df)
else:
    this_df=predict_using_lr_two_var(df)

Insert 1 for one variable linear regression / 2 for multiply variables linear regressions: 2
-454253.74275006866
[-1.97208530e+02 -8.88622715e+01 -5.15719732e+01  1.13539300e+03
 -1.50450450e+01  2.29303626e+02 -7.60047527e+00  3.55011981e+00
  8.20938304e-01]

In [11]:
this_df.Predicted=this_df['Predicted'].astype('int64')

In [12]:
this_df

      Actual  Predicted
6532   20604      21782
5750   35857      35579
6685   25426      25745
4103   26551      29015
8012   31120      31054
...      ...        ...
8154   27010      28837
675    36571      31531
4519   37117      35093
768    35995      29204
8543   54270      49376

[1747 rows x 2 columns]

In [13]:
test = this_df.copy()

In [14]:
test['error'] = 0

In [15]:
test['error_per'] = 0

In [16]:
test

      Actual  Predicted  error  error_per
6532   20604      21782      0          0
5750   35857      35579      0          0
6685   25426      25745      0          0
4103   26551      29015      0          0
8012   31120      31054      0          0
...      ...        ...    ...        ...
8154   27010      28837      0          0
675    36571      31531      0          0
4519   37117      35093      0          0
768    35995      29204      0          0
8543   54270      49376      0          0

[1747 rows x 4 columns]

In [17]:
for x in range(test.shape[0]):
    current_error = abs(test.iloc[x, 0] - test.iloc[x,1])
    current_error_per = abs(test.iloc[x, 0] - test.iloc[x,1]) / test.iloc[x, 0] * 100
    test.iloc[x,int(test.shape[1])-2] = current_error
    test.iloc[x,int(test.shape[1])-1] = current_error_per

In [18]:
test

      Actual  Predicted  error  error_per
6532   20604      21782   1178   5.717336
5750   35857      35579    278   0.775302
6685   25426      25745    319   1.254621
4103   26551      29015   2464   9.280253
8012   31120      31054     66   0.212082
...      ...        ...    ...        ...
8154   27010      28837   1827   6.764161
675    36571      31531   5040  13.781412
4519   37117      35093   2024   5.453027
768    35995      29204   6791  18.866509
8543   54270      49376   4894   9.017874

[1747 rows x 4 columns]

In [ ]:
test.to_csv('tested.csv')